@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}


/*
    Cor Primaria:#009fff;
*/


/* Header e Nav - Começo */

.dropdown-menu {
    left: -200px !important;
}


@media only screen and (min-width:769px) {
    header {
        height: 70px;
    }

    nav {
        background-color: #009fff !important;
        height: 40px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    nav div ul li:hover {
        border-bottom: 2px solid #fff;
    }

    .ativ {
        border-bottom: 2px solid #fff;
    }

    nav div ul li a {
        color: #fff !important;
    }
}

.dropleft {
    margin-right: 30px;
}

.logo {
    height: 65px;
}


/*User  e Carrinho*/

.icon {
    height: 40px !important;
    margin: 10px;
}


/*Livro do Carrinho*/

.livro {
    margin-left: 10px;
}

header .d-flex img:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.navbar-toggler {
    border: none;
}

.buscar {
    margin-top: 10px;
    border: 1px solid #009fff;
}

.buscar a {
    margin-top: 5px;
}

.buscar input {
    border: none;
    background-color: #f8f9fa;
}

.buscar input:focus{
     background-color: #f8f9fa;
     border: 0px;   
}

/*Fim - Header*/


/*Conteudo*/

main {
    margin-top: 10px;
}


/*Para Todos os Links*/

a {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.sem {
    padding: 0px !important;
}

.card-body {
    padding: 4px !important;
    height: 120px;
}

.card-body p {
    color: #17a55f;
    font-weight: bolder;
}

.card-img-top {
    height: 220px;
}

.card {
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-title {
    font-size: 15px;
}

.titulos,
h1 {
    margin: 20px 0px 40px 0px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #009fff;
    color: #009fff;
    font-weight: bolder;
}


/*Carrinho*/

.car {
    border-top: 1px solid #f8f8ff ;
    margin-bottom: 10px;

    padding-top: 10px;
   
}

.car img {
    width: 50px;
    padding-right: 10px;
}

.car .nomeLivro {
    color: #000;
    font-weight: bolder;
}

.car p {
    color: #009fff;
    font-weight: 100;
    font-size: 15px;
    font-weight: bolder;
}

.car input {
    width: 40px;
}

.car .row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.total {
    background-color: #CCCCCC;
    height: 40px;
    font-weight: bolder;
}

.liv {
    background-color: #eee;
    padding: 10px;
}


/* Fim - Carrinho */


/*Footer*/

footer {
    width: 100%;
    background-color: #009fff;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

footer span {
    font-weight: bolder;
}

footer a {
    color: #fff;
}